.header{
    display :flex;
    justify-content: space-between;
    background-color: rgb(81, 81, 207);
    align-items: center;
    height: 60px;
    padding : 0 20px;

   
    &__logo{
        h3{
            color: white;
            font-weight: 100;
        }
    }
   

}