.addTask{
    width : 100%;
    

    form{
        width : 70%;
        margin : 3rem;
        display : flex;
    }

    inpout{
        padding : 5px;
        width : 40rem;
        border: none;
        outline: none;
        background-color: whitesmoke;
        border-radius: 5px;

    }
}